extends ../layout

block content
  h1= theAuthor.title

  form(action="/authors/" + theAuthor.aid + "?_method=put", method="post")
    div
    .row
      .col-sm-4
        img.books(src=theAuthor.cover)
    
      .col-sm-4
        H2= theAuthor.fname + " " + theAuthor.lname
        form(action="/authors/" + theAuthor.aid + "?_method=put", method="post")
          div
            p Name
            input(type="text" name="fname" value=theAuthor.fname)
            input(type="text" name="lname" value=theAuthor.lname)
            
            p Biography:
            textarea(name='biography' value=theAuthor.biography)
            
            P Picture:
            input(type="text" name="portrait" value=theAuthor.portrait)
            p
            input(type="submit")
